.SearchBar{
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 2.5em;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(88, 55, 116);
    color: white;
    cursor: pointer;
  }
  
  .SearchBar:hover {
    transition: background-color 0.25s;
    background-color: #9060bd;
  }
  results-box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: auto;
    margin-bottom: 20px;
    justify: center;
  }
  
  .results-box h2{
    margin-top: auto;
    text-align: center;
  }
  .results-box p{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:left;
  }

  ul{
    font-size: 22px;
  }

  button {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 2.5em;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(88, 55, 116);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    transition: background-color 0.25s;
    background-color: #9060bd;
  }